body{
font-family: Arial, Helvetica, sans-serif;
background: linear-gradient(135deg,#2c3e50,#3498db);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
margin:0;
}

.container{
display:flex;
justify-content:center;
align-items:center;
width:100%;
}

.login-box{

background:white;
padding:40px;
border-radius:10px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
width:320px;
text-align:center;

}

.login-box h2{
margin-bottom:5px;
}

.subtitulo{
color:gray;
margin-bottom:20px;
}

input{
width:100%;
padding:12px;
margin-bottom:15px;
border-radius:5px;
border:1px solid #ccc;
}

.btn-login{

width:100%;
padding:12px;
background:#3498db;
border:none;
color:white;
font-weight:bold;
border-radius:5px;
cursor:pointer;

}

.btn-login:hover{
background:#2980b9;
}

.btn-register{

margin-top:10px;
width:100%;
padding:10px;
background:#2ecc71;
border:none;
color:white;
border-radius:5px;
cursor:pointer;

}

.btn-register:hover{
background:#27ae60;
}

#mensaje{
margin-top:15px;
font-weight:bold;
}